version: '3.9'
networks:
        net:
                driver: bridge
services:
        nginx:
              build: ./nginx
              container_name: web
              ports:
                      - "8080:80"
              depends_on:
                      - app
              volumes:
                      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
                      - ./nginx/static:/var/www/html
              networks:
                      - net
        app:
                build: ./app
                container_name: api1
                depends_on: 
                        - db
                networks:
                        - net
                volumes:
                        - ./app:/app
                links:
                        - db
                ports:
                        - "5000:5000"
        db:
                image: mongo:5.0
                container_name: db
                ports:
                        - "27017:27017"
                networks:
                        - net
                volumes:
                        - ./db:/data/db

