{% extends "layouts/base.html" %}

{% block title %} Presentation {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    /* Add hover effect to table rows */
    tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
    article, aside, figure, footer, header, main, menu, nav, section {
          display: block;
          box-sizing: border-box;
      }
      body, h1, h2, p, ul, ol, li, dd, dl {
          margin: 0; padding: 0;
      }
      /*table styling*/
      header {
          padding: 50px 20px;
      }
      h1, main {
          text-align: center;
      }
      table {
          border-collapse: collapse;
          display: inline-block;
          text-align: left;
          border-top: 1px solid #888;
          font-size: 14px;
      }
      table thead {
          background: #e00128;
          font-size: 14px;
          color: #ffffff;
      }
      table tr:nth-child(even) {
          background: #dfdfdf;
      }
      table tr:hover {
        background-color: yellow;
      }
      table th, table td {
          padding: 10px 20px;
          border: 1px solid #888;
          border-width: 0 1px 1px;
      }
      /*responsive table*/
      @media screen and (max-width: 1000px) {
          /*put each field on its own line and align text to the right
           *border is added for further readability
           */
          table td {
              display: block;
              text-align: right;
          }
          /*put data-label content before each field floated to the left*/
          table td:before {
              content: attr(data-label);
              float: left;
              font-weight: bold;
              margin-right: 10px;
          }
          /*remove thead*/
          table thead {
              display: none;
          }
      }

    .add-user-button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    #addUserModal .close {
        display: none;
    }
</style>

{% endblock stylesheets %}

{% block content %}

<!-- Hero -->
<section class="section section-header text-white pb-md-8"
    style="background-image:url(/static/assets/img/illustrations/bg-talent.png); background-size:cover;position:'relative';height:90vh">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center mb-5 mb-md-7">
                <h2 class="display-2 font-weight-bolder mb-4">
                    Viettel Talent 2023
                </h2>
                <p class="lead mb-4 mb-lg-5"> Chắp cánh ước mơ cùng #VDT2023!</p>
                <div>
                    <a href="https://www.facebook.com/groups/894917658468742"
                        class="btn btn-light btn-download-app mb-xl-0 mr-8 mr-md-8">
                        <span class="d-flex align-items-center">
                            <span class="icon icon-brand mr-2 mr-md-3"><span class="fab fa-facebook"></span></span>
                            <span class="d-inline-block text-left">
                                <small class="font-weight-normal d-none d-md-block">Available on</small> Facebook
                            </span>
                        </span>
                    </a>
                    <a href="https://tuyendung.viettel.vn/" class="btn btn-light btn-download-app">
                        <span class="d-flex align-items-center">
                            <span class="icon icon-brand mr-2 mr-md-3"><span class="fa fa-envelope"></span></span>
                            <span class="d-inline-block text-left">
                                <small class="font-weight-normal d-none d-md-block">Available on</small> Viettel Careeer
                            </span>
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="section section-lg py-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card border-0 bg-white text-center p-1">
                    <div class="card-header bg-white border-0 pb-0">
                        <div class="icon icon-lg icon-primary mb-4">
                            <span class="fas fa-cloud"></span>
                        </div>
                        <h2 class="h3 text-dark m-0">Viettel Cloud</h2>
                    </div>
                    <div class="card-body">
                        <p>
                            Speed through checkout and offset delivery at the same time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card border-0 bg-white text-center p-1">
                    <div class="card-header bg-white border-0 pb-0">
                        <div class="icon icon-lg icon-primary mb-4">
                            <span class="fas fa-cubes"></span>
                        </div>
                        <h2 class="h3 text-dark m-0">Viettel Data science & AI</h2>
                    </div>
                    <div class="card-body">
                        <p>
                            Get real-time delivery updates from cart to home in one place.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-0 bg-white text-center p-1">
                    <div class="card-header bg-white border-0 pb-0">
                        <div class="icon icon-lg icon-primary mb-4">
                            <span class="fa fa-lock"></span>
                        </div>
                        <h2 class="h3 text-dark m-0">Viettel Cybersecurity</h2>
                    </div>
                    <div class="card-body">
                        <p>
                            Upgrade with personal settings from your favorite stores.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card border-0 bg-white text-center p-1">
                        <div class="card-header bg-white border-0 pb-0">
                            <div class="icon icon-lg icon-primary mb-4">
                                <span class="fas fa-rocket"></span>
                            </div>
                            <h2 class="h3 text-dark m-0">IoT & 5G</h2>
                        </div>
                        <div class="card-body">
                            <p>
                                Speed through checkout and offset delivery at the same time.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card border-0 bg-white text-center p-1">
                        <div class="card-header bg-white border-0 pb-0">
                            <div class="icon icon-lg icon-primary mb-4">
                                <span class="fas fa-sitemap"></span>
                            </div>
                            <h2 class="h3 text-dark m-0">Software Development</h2>
                        </div>
                        <div class="card-body">
                            <p>
                                Get real-time delivery updates from cart to home in one place.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>
<section class="section section-lg" id="about">
    <div class="container">
        <div class="row justify-content-center mb-5 mb-lg-7">
            <div class="col-12 col-lg-8 text-center">
                <h2 class="h1 m-3">Danh sách Talent</h2>
                <h4>Danh sách tài năng được tuyển chọn từ 1800 ứng viên.</h4>
                <button id="addUserButton" class="add-user-button m-3">Add User</button>
                
                <div id="addUserModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <form class="form-horizontal" id="addUserForm">
                            <!-- Form Name -->
                            <legend>Tạo thành viên mới</legend>

                            <!-- Multiple Radios -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="radios">Họ và tên</label>
                                <input type="text" name="name" id="radios-1" value="">
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="radios">Chương trình</label>

                                <div class="ml-3 d-flex flex-column align-items-start">
                                    <div class="radio">
                                        <label for="radios-0">
                                            <input type="radio" name="program" id="radios-0" value="Cloud"
                                                checked="checked">
                                            Cloud
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="radios-1">
                                            <input type="radio" name="program" id="radios-1"
                                                value="Data science and AI">
                                            Data science and AI
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="radios-1">
                                            <input type="radio" name="program" id="radios-1" value="IoT & 5G">
                                            IoT & 5G
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="radios-0">
                                            <input type="radio" name="program" id="radios-0" value="Cyber security"
                                                checked="checked">
                                            Cyber security
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="radios-1">
                                            <input type="radio" name="program" id="radios-1" value="Web Development">
                                            Web Development
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="radios">Chuyên nghành</label>
                                <input type="text" name="title" id="radios-1" value="">
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="radios">Trường Đại học</label>
                                <input type="text" name="university" id="radios-1" value="">
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="radios">Năm sinh</label>
                                <input type="number" name="year" id="radios-1" value="">
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="radios">Giới tính</label>
                                <div class="d-flex flex-column align-items-start">
                                    <div class="radio">
                                        <label for="radios-0">
                                            <input type="radio" name="sex" id="radios-0" value="Nam" checked="checked">
                                            Nam
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="radios-1">
                                            <input type="radio" name="sex" id="radios-1" value="Nữ">
                                            Nữ
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="submitButton"></label>
                                <div class="col-md-4">
                                    <button id="submitButton" name="submitButton"
                                        class="btn btn-primary">Submit</button>
                                </div>
                            </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <table>
                    <thead>
                      <tr>
                        <th  >Họ và tên</th>
                        <th  >Ngành học</th>
                        <th  >Trường đại học</th>
                        <th  >Chương trình</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in users %}
                      <tr onclick="window.location.href='/user/{{ user.name }}';">
                        <td  >{{ user.name }}</td>
                        <td  >{{ user.program }}</td>
                        <td  >{{ user.university }}</td>
                        <td  >{{ user.title }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  
            </div>
        </div>
        <div class="row row-grid align-items-center mb-2 mb-lg-3" id="program">
            <div class="col-12 col-lg-7">
                <h2 class="mb-4">Viettel Digital Talent</h2>
                <p>Viettel Digital Talent là chương trình đào tạo được thiết kế bởi các chuyên gia hàng đầu Viettel giúp
                    các tài năng trẻ khai phá tiềm năng và phát triển chuyên môn trong các lĩnh vực Cloud, Cyber
                    Security, Data Science & Artificial intelligence, Internet of Things, 5G, Software & Data
                    Engineering (Data, C/C++, Web/Mobile).</p>
                <a href="#" class="btn btn-dark mt-3 animate-up-2">
                    Learn More
                    <span class="icon icon-xs ml-2">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
            </div>
            <div class="col-12 col-lg-4 ml-lg-auto">
                <img src="/static/assets/img/illustrations/scene-3.svg" class="w-100" alt="">
            </div>
        </div>

    </div>
</section>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#addUserButton').click(function () {
            $('#addUserModal').css('display', 'block');
        });

        $('.close').click(function () {
            $('#addUserModal').css('display', 'none');
        });

        $(window).click(function (event) {
            if (event.target == $('#addUserModal')[0]) {
                $('#addUserModal').css('display', 'none');
            }
        });

        $('#addUserForm').submit(function (event) {
            event.preventDefault(); // Prevent form submission
            var formData = $(this).serialize(); // Serialize form data

            // Make API call to add the user
            $.ajax({
                url: 'https://v1.viettelcloud.site/api/v1/add-user',
                type: 'POST',
                data: formData,
                success: function (response) {
                    console.log(response); // Handle successful response
                    // Reset form fields and close the modal
                    $('#addUserForm')[0].reset();
                    $('#addUserModal').css('display', 'none');
                    window.location.href = '/';
                },
                error: function (error) {
                    console.error(error); // Handle error
                }
            });
        });
    });
</script>
{% endblock javascripts %}