input {
  file {
    path => "{{ logstash_local_syslog_path }}"
  }
}
filter {
}
output {
  elasticsearch {
    hosts => {{ logstash_elasticsearch_hosts | to_json }}
    index => "tranducmanh-%{+YYYY.MM.dd}"
  }
}
