<!DOCTYPE html>
<html>

<head>
    <title>VDT Intern</title>
</head>

<body>
    <h1>ADD USER</h1>
    <form method="POST" action="/VDT/edit">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="birth_year">Birth Of Year</label>
        <input type="text" name="birth_year" id="birth_year">
        <label for="university">University</label>
        <input type="text" name="university" id="name">
        <input type="submit" value="Submit">
    </form>
</body>

</html>