---
- name: Create nginx group info.
  group:
    name: nginx

- name: Create user.
  user:
    name: nginx
    group: nginx

- name: Check docker install.
  package:
    name: docker
    state: present

- name: Restart a container
  community.docker.docker_container:
    name: nginx
    image: nginx:1.22.0-alpine
    state: started
    ports:
      - "8888:8888"
    volumes:
      - ./roles/nginx/files/student.conf:/etc/nginx/conf.d/default.conf
    healthcheck:
      # Check if nginx server is healthy by curl'ing the server.
      # If this fails or timeouts, the healthcheck fails.
      test: ["CMD", "curl", "--fail", "http://nginx.host.com"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 30s


# - include_tasks: config.yml

# - include_tasks: service.yml
