.student-detail {
    position: fixed;
    width: 0;
    height: 0;
    overflow: hidden;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease, visibility 1s ease;

    min-height: 400px;


}

.ant-input, .ant-input-disabled {
    color: black !important;
}

.student-detail::before {}

.student-detail.show {
    visibility: visible;
    width: 900px;
    opacity: 1;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 24px;
}

.student-title {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 5px;
    background-color: lightcoral;
    color: white;
    padding: 2px 5px;
    font-weight: bolder;
    border-radius: 2px;
    width: fit-content;
    cursor: pointer;
}

.close-button:hover {
    background-color: rgb(226, 103, 103);

}

.close-button:active {
    background-color: rgb(146, 36, 36);
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    border: 2px solid green;
}

.column-left, .column-right {
    flex: 1;
}

/* .left-item,.right-item{
    flex: 1;

} */