apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  labels:
    app: mongo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
      - image: thanhph/mongodb:main
        name: mongodb
        ports:
        - containerPort: 27017
        volumeMounts:
        - name: "mongo-storage"
          mountPath: "/data/db"
      volumes:
      - name: "mongo-storage"
        persistentVolumeClaim:
          claimName: "mongo-pvc"