global
  daemon
  maxconn 4096

defaults
  log global
  mode http
  option redispatch
  option httplog
  retries 3
  timeout http-request 10s
  timeout queue 1m
  timeout connect 10s
  timeout client 50s
  timeout server 50s
  timeout check 10s
  balance roundrobin


userlist prometheus-server-user
  user admin insecure-password admin

listen prometheus_server
  bind localhost:9999
  http-request del-header X-Forwarded-Proto
  http-request set-header X-Forwarded-Proto https if { ssl_fc }
  acl auth_acl http_auth(prometheus-server-user)
  http-request auth realm basicauth unless auth_acl
  server prometheus1 localhost:9090 check inter 2000 rise 2 fall 5
  server prometheus2 localhost:9091 check inter 2000 rise 2 fall 5 backup
