<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
        border: 1px solid;
        }
    </style>
</head>
<body>
    
    
    <table>
        <tr>
            <th>STT</th>
            <th>Họ và tên</th>
            <th>Ngày Sinh</th>
            <th>Trường</th>
            <th>Chuyên ngành</th>
        </tr>
        {% for x in value %}
        <tr>
        <td>{{x['id']}}</td>            
        <td>{{x['name']}}</td>
        <td>{{x['birth']}}</td>
        <td>{{x['university']}}</td>
        <td>{{x['major']}}</td>
        </tr>
        {% endfor %}
        
    </table>
    
</body>
</html>

