<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Form</title>
</head>
<body>
    <header>
        <h1>Create Form</h1>
    </header>
    <div class="form-container">
        <form id="create-form" method="POST" action="/api/write_data">
            <div class="form-field">
                <label for="Họ và tên">Họ và tên:</label>
                <input type="text" id="Họ và tên" name="Họ và tên" required>
            </div>
            <div class="form-field">
                <label for="Năm sinh">Năm sinh:</label>
                <input type="text" id="Năm sinh" name="Năm sinh" required>
            </div>
            <div class="form-field">
                <label for="Giới tính">Giới tính:</label>
                <input type="text" id="Giới tính" name="Giới tính" required>
            </div>
            <div class="form-field">
                <label for="Trường">Trường:</label>
                <input type="text" id="Trường" name="Trường" required>
            </div>
            <div class="form-field">
                <label for="Chuyên ngành">Chuyên ngành:</label>
                <input type="text" id="Chuyên ngành" name="Chuyên ngành" required>
            </div>
            <div class="form-field">
                <input type="submit" id="create-button" value="Create">
            </div>
        </form>
    </div>
</body>
</html>
