<!DOCTYPE html>
<html>
<head>
    <title>Thêm thành viên</title>
</head>
<body>
    <h1>Thêm thành viên</h1>
    <form method="POST" action="/user">
        <label for="Name">Họ tên</label>
        <input type="text" name="Name" id="Name">
        <label for="YearOfBirth">Năm sinh</label>
        <input type="text" name="YearOfBirth" id="YearOfBirth">
        <label for="School">Trường</label>
        <input type="text" name="School" id="Name">
        <input type="submit" value="Submit">
    </form>
</body>
</html>