---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongodb-pv
spec:
  capacity:
    storage: 2Mi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /home
    type: ""
  persistentVolumeReclaimPolicy: Retain
  storageClassName: mongodb-class
  volumeMode: Filesystem
