---
all:
  hosts:
    localhost:
      ansible_connection: local
      ansible_become_user: honahl
      ansible_become_password: 684239715

    # this vps for web
    vps1:
      ansible_host: 192.168.89.109
      ansible_user: root
      ansible_password: 1
    
    # this vps for api
    vps2:
      ansible_host: 192.168.89.110
      ansible_user: root
      ansible_password: 1

    #this vps for database
    vps3:
      ansible_host: 192.168.89.114
      # ansible_become: true
      ansible_user: root
      ansible_password: 1