<!DOCTYPE html>
<html>
<head>
    <title>Thêm thành viên</title>
</head>
<body>
    <h1>Thêm thành viên</h1>
    <form method="POST" action="/user">
        <label for="ho_ten">Họ tên</label>
        <input type="text" name="ho_ten" id="ho_ten">
        <label for="nam_sinh">Năm sinh</label>
        <input type="text" name="nam_sinh" id="nam_sinh">
        <label for="truong">Trường</label>
        <input type="text" name="truong" id="ho_ten">
        <input type="submit" value="Submit">
    </form>
</body>
</html>