---
# tasks file for roles/common
- name: updating apt packages
  apt:
    name: "*"
    state: latest
    update_cache: true

- name: instal require packages for docker
  apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
      - python3-pip
      - python3-setuptools
    state: latest
    update_cache: true

- name: Add Docker GPG apt Key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker Repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu focal stable
    state: present

- name: Update apt and install docker-ce
  apt:
    name: docker-ce
    state: latest
    update_cache: true

- name: Install Docker Module for Python
  pip:
    name:
      - docker
      - docker-compose
- name: add user to Docker group
  shell: "usermod -aG docker cloud_user"



- name: Disable swap
  ansible.builtin.shell: sudo swapoff -a


- name: Install dependency packages
  ansible.builtin.shell: sudo apt-get update && sudo apt-get install -y apt-transport-https curl


- name: Download and add GPG key
  ansible.builtin.shell: curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -

- name: Add Kubernetes to repository list
  ansible.builtin.shell: |
    cat <<EOF | sudo tee /etc/apt/sources.list.d/kubernetes.list
    deb https://apt.kubernetes.io/ kubernetes-xenial main
    EOF

- name: Update package listings
  apt:
    update_cache: yes


- name: install kubernetes
  ansible.builtin.shell: sudo apt-get install -y kubectl --allow-change-held-packages


