version: '3.8'

services:
  app:
    build:
      context: app
    container_name: vt_app
    restart: always
    ports:
      - "8000"
    links:
      - db

  nginx:
    image: nginx:1.22.0-alpine
    container_name: vt_nginx
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/index.html:/usr/share/nginx/html/index.html:ro
    depends_on:
      - app
      - db
    ports:
      - "80:80"
      - "81:81"

  db:
    image: mongo:5.0-focal
    hostname: mongodb
    container_name: vt_db
    restart: always
    ports:
      - 27017:27017
    volumes:
      - ./db/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
