# Source: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI

on:
  push:
  pull_request:
    branches: [ main ]

env:
  API_DIR: ./app/api

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      working-directory: ${{ env.API_DIR }}
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with unittest
      working-directory: ${{ env.API_DIR }}
      run: |
        coverage run --source=./src -m unittest discover -v .
    - name: Report on results
      working-directory: ${{ env.API_DIR }}
      run: |
        coverage report -m --skip-covered
    - name: Upload coverage reports to Codecov from GitHub Action
      uses: codecov/codecov-action@v3
