- name: Start Nginx load balancer
  community.docker.docker_container:
    name: nginx
    image: nginx:1.22.0-alpine
    state: started
    # restart: true
    ports:
      - "{{ports}}:443"
    volumes:
      - ../files/api.conf:/etc/nginx/conf.d/default.conf
      - ../files/webserver.conf:/etc/nginx/conf.d/webserver.conf
    storage_opts:
      # Limit root filesystem to 12 MB - note that this requires special storage backends
      # (https://fabianlee.org/2020/01/15/docker-use-overlay2-with-an-xfs-backing-filesystem-to-limit-rootfs-size/)
      size: 12m
    healthcheck:
      # Check if nginx server is healthy by curl'ing the server.
      # If this fails or timeouts, the healthcheck fails.
      test: ["CMD", "curl", "--fail", "http://nginx.host.com"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 30s