$red-dark-color: rgb(107, 36, 36);
$red-light-color: rgb(221, 25, 25);
$blue-dark-color: rgb(30, 53, 66);
$blue-light-color: rgb(35, 102, 141);
$yellow-dark-color: rgb(199, 157, 43);
$yellow-light-color: rgb(215, 235, 34);
$green-dark-color: rgb(18, 58, 24);
$green-light-color: rgb(39, 218, 65);
$black-color: rgb(0, 0, 0);
$text-color: #55595c;
$text-blue-color: #06619c;
$white-color: #ffffff;
$transparent-color: transparent;
$background-color: #f7f7f7;
$success: #17a71e;
$warning: #b5dd24;
$error: rgb(221, 54, 54);
$clr-primary: #18ffff;
$clr-primary-light: #adffff;
$clr-primary-dark: #091034;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-bg: #060b23;

// radius
$radius: 0.5rem;

$height-header: 7rem;
$height-dialog: 90rem;
$width-form-input: 30rem;
