---
- name: Install Docker
  hosts: all
  become: yes
  gather_facts: true
  roles:
    - common

- name: Setup database
  hosts: remote_hosts
  become: yes
  gather_facts: true
  roles:
    - db

- name: Set up Web app in nodes
  hosts: remote_hosts
  become: yes
  gather_facts: true
  roles:
    - api
    - web

- name: Setup Load balancer
  hosts: localhost
  become: yes
  gather_facts: true
  roles:
    - lb

- name: Setup Monitoring
  hosts: remote_hosts
  become: yes
  gather_facts: true
  roles:
    - monitor

- name: Setup Logging
  hosts: node1
  become: true
  gather_facts: true
  roles:
    - logging

