<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

td,
th {
  border: 2px solid #999;
  padding: 0.5rem;
}
        
    </style>
</head>
<body>
    <div class="href-item">
        <a href="index.html">Home</a>
        <a href="find.html">find Student</a>
        <a href="create.html">create Student</a>
        <a href="update.html">Update Student</a>
        <a href="delete.html">delete Student</a>
    </div>


    <table id="users"></table>

    <script>
        fetch("http://127.0.0.1:5000/api/students")
  // Converting received data to JSON
  .then((response) => response.json())
  .then((json) => {
    
  // 2. Create a variable to store HTML table headers
    let li = `<tr><th>STT</th><th>Name</th><th>YEAR</th><th>SEX</th> <th>SCHOOL</th><th>MAJOR</th></tr>`;

    // 3. Loop through each data and add a table row
    json.forEach((user) => {
      li += `<tr>
        <td>${user.STT}</td>
        <td>${user.Name} </td>
        <td>${user.Year}</td>
        <td>${user.Sex}</td>
        <td>${user.School}</td>
        <td>${user.Major}</td>
      </tr>`;
    });

    // 4. DOM Display result
    document.getElementById("users").innerHTML = li;
  });

// main.js

// 5. POST request using fetch()
fetch("https://jsonplaceholder.typicode.com/posts", {
  // 6. Adding method type
  method: "POST",

  // 7. Adding body or contents to send JSON Stringify
  body: JSON.stringify({
    title: "foo",
    body: "bar",
    userId: 1
  }),

  // 8. Adding headers to the request
  headers: {
    "Content-type": "application/json; charset=UTF-8"
  }
})
  // 9. Converting to JSON
  .then((response) => response.json())

  // 10. Displaying results to console
  .then((json) => console.log(json));
    </script>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <table>
        <caption>VDT 2023 Attendees</caption>
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ và tên</th>
                <th>Năm sinh</th>
                <th>Giới tính</th>
                <th>Trường</th>
                <th>Chuyên ngành</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %} 
            <tr>
                <td>{{todo['STT']}}</td>
                <td>{{todo['Name']}}</td>
                <td>{{todo['Year']}}</td>
                <td>{{todo['Sex']}}</td>
                <td>{{todo['School']}}</td>
                <td>{{todo['Major']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>