<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>

    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >

	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script></head>

<body>
    
    <div class="href-item">
        <a href="/">Home</a>
        <a href="insert.html">Add Student</a>
    </div>

    <form class="insert-form" >
        <div class="form-group row">
            <label for="STT">Id</label>
            <input type="text" class="form-control" name="id" id="id" placeholder="STT">
          </div>
          <div class="form-group row">
              <label for="FullName">FullName</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="FULLNAME">
            </div>
            <div class="form-group row">
              <label for="Username">Username</label>
              <input type="text"  class="form-control" name="username" id="username" placeholder="USERNAME">
          </div>
          <div class="form-group row">
              <label for="Year">Year of birth</label>
              <input type="text" class="form-control" name="birth" id="birth" placeholder="BIRTH">
            </div>
            <div class="sex-container">
              <input type="radio" name="sex" class="sex-radio" value="Male"> 
              <label for="">Male</label>
              <input type="radio" name="sex" class="sex-radio" value = "Female">
              <label for=""> Female</label>
          </div>
            <div class="form-group row">
              <label for="university">University</label>
              <input type="text" class="form-control" name="university" id="university" placeholder="UNIVERSITY">
          </div>
          <div class="form-group row">
              <label for="major">Major</label>
              <input type="text" class="form-control" name="major" id="major" placeholder="MAJOR">
          </div>
  
          <button type="submit" class="btn btn-primary">SUBMIT</button>
          <a href="/" class="btn btn-primary">Cancel</a>
    </form>
    <script src="script.js"></script>
</body>
</html>