---
# tasks file for prometheus
- name: Copy prometheus config
  copy: 
    src: prometheus.yaml
    dest: /tmp/prometheus.yml
  become: true

- name: Run Prometheus container
  docker_container:
    image: prom/prometheus
    name: prometheus
    restart_policy: "unless-stopped"
    volumes: /tmp/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090