- name: Install packages required for Docker
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present

- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic stable
    state: present
    filename: docker-ce

- name: Install Docker
  ansible.builtin.apt:
    name: docker-ce
    state: present

- name: Start Docker service
  systemd:
    name: docker
    state: started
    enabled: yes
#add user to docker group
- name: adding existing user to group docker
  become: true
  user:
    name: 'manhdung5801'
    groups: docker
    append: yes