<source>
  @type forward
  port 24224
  bind 0.0.0.0
</source>

<filter nginx.**>
  @type parser
  key_name log
  reserve_data true
  remove_key_name_field true
  <parse>
    @type nginx
  </parse>
</filter>

<filter *.**>
    @type record_transformer
    enable_ruby true
    <record>
      hostname ${hostname}
    </record>
</filter>

<match *.**>
  @type copy

  <store>
    @type elasticsearch
    host {{ elasticsearch_host }}
    port {{ elasticsearch_port }}
    logstash_format true
    logstash_prefix {{ elasticsearch_prefix }}
    logstash_dateformat %Y%m%d
    include_tag_key true
    flush_interval 1s
  </store>

  <store>
    @type stdout
  </store>
</match>
