<html>
	<head>
		<title>{{t}}</title>
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/emoji.css')}}" >
		<script src="{{ url_for('static',filename='assets/twemoji.min.js')}}"></script>  
		<script src="{{ url_for('static',filename='assets/emoji.js')}}"></script>
	</head>
<body>
	<h1>{{ h }}</h1>
	<ul>
		<li><a href="/list" class="{{ a1 }}">LIST ALL CANDICATE</a></li>
		<li><a href="/add_candidate" class="{{ a2 }}">ADD NEW CANDICATE</a></li>
		<li><a href="/https://docs.google.com/spreadsheets/d/1ykAAQLQ5eMCwef-bjipMadWErLX84MurTdT-a4KSvaM/edit#gid=0" class="{{ a3 }}">TIME LINE</a></li>
		<li style="float:right"><a href="/about">About</a></li>
	</ul>
	<hr>
	{% if todos[0] %}
	<h3>Result of the Search : ToDO List</h3>
	<table>
	    <tr id="row">
	    	<th class="stt">stt</th>
			<th class="name">Name of candicate</th>
			<th class="Username">Username</th>
			<th class="year">year of brith</th>
			<th class="gender">gender</th>
			<th class="university">academy</th>
			<th class="field">field</th>
			<th class="func1">delete</th>
			<th class="func1">update</th>
	    </tr>
		{% for todo in todos %}
		<tr class="datas">
			<td class="stt">{{todo["STT"]}}</td>
			<td class="name">{{ todo["fullname"] }}</td>
			<td class="Username">{{ todo["Username"] }}</td>
			<td class="year">{{ todo["year of birth"] }}</td>
			<td class="gender">{{ todo["gender"] }}</td>
			<td class="university">{{ todo["university"] }}</td>
			<td class="field">{{ todo["field"] }}</td>
			<td class="func1"><a href="./remove?_id={{ todo['_id'] }}"><button type="submit">🗑️</a></td>
			<td class="func1"><a href="./update?_id={{ todo['_id'] }}"><button type="submit">📝</a></td>
		</tr>
		{% endfor %}
	{% else %}
		<h4>No Result Found !!</h4>
	{% endif %}
	</table>
</body>
</html>
