worker_processes 1;

events {
  worker_connections 1024;
}

http {
  server {
    listen 80;
    server_name localhost;
  
    location / {
      resolver 127.0.0.11;
      set $servers {{ lb_target }};
      proxy_pass http://$servers:{{ lb_forward_port }};
    }
  }
}
