#title {
  display: flex;
  text-align: center;
  justify-content: center;
}

.table-list {
  gap: 10px;
  text-align: center;
  display: grid;
  justify-content: center;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.edit-add-form {
  justify-content: center;
  display: grid;
}
