{% extends "layouts/base.html" %}

{% block title %} Presentation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container py-7">
      <div class="row">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="card-body text-center">
                  <img src={{ base +user.avatar }} alt="avatar"
                    class="rounded-circle img-fluid" style="width: 200px;">
                  <h5 class="my-3">{{ user.name }}</h5>
                  <p class="text-muted mb-1">{{ user.title }}</p>
                  <p class="text-muted mb-4">{{ user.program }}</p>
                  
                </div>
                <div class="col-sm-3">
                  <p class="mb-0">Họ và tên</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.name }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Năm sinh</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.year }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Giới tính</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.sex }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Trường Đại học</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.university }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>  

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
