<header class="header-global" id="home" style="background-color:#e00027 !important">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg headroom">
            <div class="container position-relative">
                <div class="navbar-collapse collapse mr-auto" id="navbar_global">
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center text-white">
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                                Chương trình
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/#program" class="nav-link">
                                Viettel Talent
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/#about" class="nav-link">
                                Tham gia cùng chúng tôi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.facebook.com/groups/894917658468742" class="nav-link">
                                Facebook
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <a href="https://viettelcloud.vn" 
                       target="_blank" class="btn btn-outline-soft d-none d-md-inline mr-md-3 animate-up-2">Về Viettel Cloud</a>
                    <a href="https://tuyendung.viettel.vn/" 
                       target="_blank" class="btn btn-md btn-tertiary text-white d-none d-md-inline animate-up-2">Ứng tuyển ngay<i class="fas fa-rocket ml-2"></i></a>
                    <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>
