---


- name: copy docker-compose.yml
  copy:
    src: init.js
    dest: /etc/mongodbdata/

- name: creat a docker container and port maping
  docker_container:
    name: "{{ docker_container_name }}"
    image: "{{ docker_image_name }}"
    # restart_policy: unless-stopped
    volumes:    
        - /etc/mongodbdata/init.js:/docker-entrypoint-initdb.d/init.js
    ports:
      - "27017:27017"
    log_driver: fluentd
    log_options:
      fluentd-address: "192.168.89.107:24224"
      tag: "docker.db.nguyenmanhduc"


# - name: full image docker of web server mongo
#   docker_image:
#     name: "{{ docker_image_name }}"
#     # tag: "{{ docker_image_tag }}"
#     source: pull

# - name: copy docker-compose.yml
#   copy:
#     src: ../../../../db/
#     dest: /tmp/dockerdb

# - name: creat a docker container and port maping
#   docker_compose: 
#     project_src: /tmp/dockerdb
#     state: present