@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    overflow: overlay;
}

p {margin: 0;}

a { text-decoration: none;}

.Content_13 {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: #0D1427;
}
  
  
.Content_13S {
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    color: #0D1427;
}
  
.Content_13B {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: #0D1427;
}

.Content_12 {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    color: #0D1427;
}
  
.Mini_content_12 {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #0D1427;
}
  
  
.H3-16B {
    font-size: 16px;
    font-weight: 800;
    color: #0D1427;
}
  
.Content_16 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.H2-24B {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}
