.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.section {
  margin-bottom: 30px;
}

form {
  display: grid;
  grid-gap: 10px;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
}
th {
  text-align: center;
}

th {
  background-color: #34495e;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

button {
  width: 50%;
  padding: 10px 10px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #2980b9;
}

.delete-button {
  background-color: #e74c3c;
}

.edit-button {
  background-color: #27ae60;
}

.view-button {
  background-color: #4b71c5;
}

.add-button {
  width: 50px;
}
.table-container {
  max-height: 600px;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
}

.centered-cell {
  text-align: center;
}

.centered-content {
  text-align: center;
}

.add-student-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2980b9;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
}
