
    <footer class="footer py-5 pt-lg-6">
        <div class="sticky-right">
            <a href="#home" class="icon icon-primary icon-md btn btn-icon-only btn-white border border-soft shadow-soft animate-up-3">
                <span class="fas fa-chevron-up"></span>
            </a>
        </div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-4">
                    <p>Theo dõi để nhận thêm thông tin.</p>
                    <ul class="social-buttons mb-5 mb-lg-0">
                        <li>
                            <a href="https://twitter.com/themesberg" aria-label="twitter social link" class="icon icon-md icon-twitter mr-3">
                                <span class="fab fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/themesberg/" class="icon icon-md icon-facebook mr-3" aria-label="facebook social link">
                                <span class="fab fa-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/themesberg" aria-label="github social link" class="icon icon-md icon-github mr-3">
                                <span class="fab fa-github"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://dribbble.com/themesberg" class="icon icon-md icon-dribbble" aria-label="dribbble social link" >
                                <span class="fab fa-dribbble"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-5 mb-lg-0">
                    <span class="h5">Thêm</span>
                    <ul class="footer-links mt-2">
                        <li><a target="_blank" href="https://themesberg.com/blog">Blog</a></li>
                        <li><a target="_blank" href="https://themesberg.com/products">Sản phẩm</a></li>
                        <li><a target="_blank" href="https://themesberg.com/about">Về chúng tôi</a></li>
                        <li><a target="_blank" href="https://themesberg.com/contact">Liên hệ chúng tôi</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 mb-5 mb-lg-0">
                    <span class="h5 mb-3 d-block">Theo dõi</span>
                    <form action="#">
                        <div class="form-row mb-2">
                            <div class="col-12">
                                <input type="email" class="form-control mb-2" placeholder="example@company.com" name="email" aria-label="Subscribe form" required>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-dark shadow-soft btn-block" data-loading-text="Sending">
                                    <span>Theo dõi</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="bg-light my-2">
            <div class="row pt-2 pt-lg-5">                    
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="font-weight-normal font-small mb-0">Copyright © Themesberg 2019-<span class="current-year">2023</span>. All rights reserved.</p>
                    </div>
            </div>
        </div>
    </footer>
