/* .body1 {
    display:flex; flex-direction:column; justify-content:center;
    margin-top: 1.5cm;
    max-width: max-content;
    margin: auto;
    background-color: rgb(236, 230, 222);
  }
   */
.body1_loading1 {
  display:flex; flex-direction:column; justify-content:center;
  margin-top: 1.5cm;

  margin: 0 auto;
}

/* .masthead_h1 {
  inline-size: max-content;
  width: max-content;
  margin: 0 auto;
} */

.body1_h1 {
    font-family: 'Trebuchet MS';
    color: rgb(49, 85, 151);
    text-align: center;
    margin-top: 2cm;
    
  }


.body1_h2 {
    font-family: 'Trebuchet MS';
    color: rgb(49, 85, 151);
    text-align: center;
    
}

.table1 {
  background-color: rgb(250, 242, 232);
  margin: 0 auto;
  text-align: center;
}


th, td {
  padding: 30px;
  text-align: center;
}

tr:hover {background-color: rgb(236, 137, 100);}

th {
  /* border-top-right-radius: 15%;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%; */
  background-color: #e0526a;
  color: rgb(255, 255, 255);
  text-align: center;
}

