name: Build and Push Images to DockerHub

on:
  push:
    tags:
      - '*'
      - '!refs/tags/*'
  
jobs:
  build_and_push:
    name: Build and Push Images to DockerHub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        
      - name: Get tag name
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "TAG=$(echo ${{ github.ref }} | sed 's/refs\/tags\///')" >> $GITHUB_ENV
      
      - name: Build and Push Backend Images
        uses: docker/build-push-action@v4
        with:
          context: source_code/flask
          push: true
          file: source_code/flask/Dockerfile
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/backend:${{ env.TAG }}
            ${{ secrets.DOCKER_USERNAME }}/backend:latest
            
      - name: Build and Push Frontend Images
        uses: docker/build-push-action@v4
        with:
          context: source_code/nginx
          file: source_code/nginx/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/frontend:${{ env.TAG }}
            ${{ secrets.DOCKER_USERNAME }}/frontend:latest
