name: CI

on:
  pull_request:
    branches:
      - main
      - mid-term
      
  push:
    branches:
     - mid-term

permissions:
  contents: read
  pull-requests: write

jobs:
  unittest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 
        uses: actions/setup-python@v3
        with:
          python-version: "3.10.6"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mongomock
          pip install pytest
          pip install -r ./'3. Mid-term'/Lequanganh/flask/requirements.txt
      
      - uses: ricardochaves/python-lint@v1.4.0
        with:
          python-root-list: "3. Mid-term/Lequanganh/flask"
          use-pylint: false
          use-pycodestyle: false
          use-flake8: true
          use-black: false
          use-mypy: false
          use-isort: false
          extra-flake8-options: "--exit-zero --max-line-length=127"

      - name: Run unit test
        run: |
          cd '3. Mid-term'/Lequanganh/flask
          pytest api_test.py
