name: Build and Push Docker Image

on:
  push:
    tags:
      - '*'

jobs:
  build-and-push:
    name: Build and Push
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dir:
          - "10.GK\\NinhVanNghia\\source\\api"
          - "10.GK\\NinhVanNghia\\source\\web"
        image-name:
          - api
          - web

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v2
      with:
        context: ${{ matrix.dir }}
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.image-name }}:${{ github.ref }}
