name: CI workflow

on:
  pull_request:
    branches:
      - main
      - 10.GK
  
  push:
    branches:
     - main
     - 10.GK

permissions:
  contents: read

jobs:
  unit_testing:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 
        uses: actions/setup-python@v3
        with:
          python-version: "3.10.6"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mongomock
          pip install -r 10.GK/PhamDuyCuong/source/web_CRUD/api/requirements.txt

      
      - uses: ricardochaves/python-lint@v1.4.0
        with:
          python-root-list: "10.GK/PhamDuyCuong/source/web_CRUD/api"
          use-pylint: false
          use-pycodestyle: false
          use-flake8: true
          use-black: true
          use-mypy: false
          use-isort: false
          extra-flake8-options: "--exit-zero --max-line-length=127"

      - name: Run tests
        run: |
          python 10.GK/PhamDuyCuong/source/web_CRUD/api/tests.py