name: Build and test unittest

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: docker.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: cd 1.\ Containerization/Le-Trong-Minh/ && docker-compose build
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test the Docker image
        run: cd 1.\ Containerization/Le-Trong-Minh/ && docker-compose up -d db
      
      ## Unitest
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          cd 1.\ Containerization/Le-Trong-Minh/backend/ && pip install -r requirements.txt
          pip install pytest pytest-cov
        
      - name: Test api
        run: |
          cd 1.\ Containerization/Le-Trong-Minh/backend/api/
          pwd
          pytest test_api.py

