name: Build and Push Images to DockerHub

on:
  push:
    tags:
      - '*'
  
jobs:
  build_and_push:
    name: Build and Push Images to DockerHub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
            
      - name: Show Docker Hub credentials
        run: |
          echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}"
          echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD }}"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        
      - name: Get tag name
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "TAG=$(echo ${{ github.ref }} | sed 's/refs\/tags\///')" >> $GITHUB_ENV
      
      - name: Build and Push Backend Images
        uses: docker/build-push-action@v4
        with:
          context: '3. Mid-term/Lequanganh/flask'
          push: true
          file: '3. Mid-term/Lequanganh/flask/Dockerfile'
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/lqa-flask-app:${{ env.TAG }}
            ${{ secrets.DOCKER_USERNAME }}/lqa-flask-app:latest
            
      - name: Build and Push Frontend Images
        uses: docker/build-push-action@v4
        with:
          context: '3. Mid-term/Lequanganh/flask/nginx'
          file: '3. Mid-term/Lequanganh/flask/Dockerfile'
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/lqa-web:${{ env.TAG }}
            ${{ secrets.DOCKER_USERNAME }}/lqa-web:latest
