name: Java Test All Branch

on:
  push:
    branches:
      - mainvdt
  pull_request:
    branches:
      - mainvdt
jobs:
  build-and-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./10.GK/backend-vdt2023

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: 8

      - name: Build with Maven
        run: mvn clean install

      - name: Run tests
        run: mvn test

