name: CI workflow

on:
  pull_request:
    branches:
      - main
      - midterm
  
  push:
    branches:
     - main
     - midterm

permissions:
  contents: read
  pull-requests: write

jobs:
  unittest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 
        uses: actions/setup-python@v3
        with:
          python-version: "3.8.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mongomock
          pip install -r 10.GK/NguyenManhCuong/source_code/app/requirements.txt
      
      - uses: ricardochaves/python-lint@v1.4.0
        with:
          python-root-list: "10.GK/NguyenManhCuong/source_code/app"
          use-pylint: false
          use-pycodestyle: false
          use-flake8: true
          use-black: false
          use-mypy: false
          use-isort: false
          extra-flake8-options: "--exit-zero --max-line-length=127"

      - name: Run unit test
        run: python3 -m unittest 10.GK/NguyenManhCuong/source_code/app/unit_test.py

      - name: Create Coverage 
        if: ${{ github.event_name == 'pull_request' }}
        uses: orgoro/coverage@v3
        with:
            coverageFile: coverage.xml
            token: ${{ secrets.GITHUB_TOKEN }}
